/* Form element styles */
.bodyBold{
	font-size: 15px;
	font-weight: bold;
	color: #666666;
}

.header1, .header1_regular{
	font-size: 36px;
	font-weight: 200;
	color: #222222;
}

.header1_regular{
	font-weight: normal;
}

.header2{
	font-size: 26px;
	font-weight: normal;
	color: #333333;
}

.header3{
	font-size: 18px;
	font-weight: bold;
	color: #333333;
}

.header4{
	font-size: 18px;
	font-weight: 600;
	color: #1b1b1b;
}

.header5{
	font-size: 16px;
	font-weight: 600;
	color: #333333;
}

.header5_regular{
	font-size: 16px;
	font-weight: normal;
	color: #333333;
}

.header6{
	font-size: 14px;
	font-weight: normal;
	color: #666666;
}

.link1{
	font-size: 20px;
	font-weight: normal;
	color: #0081c6;
}

.link2{
	font-size: 18px;
	font-weight: 600;
	color: #0081c6;
}

.link3{
	font-size: 16px;
	font-weight: normal;
	color: #0081c6;
	text-decoration: underline;
}

.link4{
	font-size: 15px;
	font-weight: normal;
	color: #666666;
	text-decoration: underline;
}

.misc1{
	font-size: 16px;
	font-weight: bold;
	color: #44b863;
}

.misc2{
	font-size: 16px;
	font-weight: bold;
	color: #666666;
}

.misc2_regular{
	font-size: 16px;
	font-weight: normal;
	color: #666666;
}

.misc3{
	font-size: 14px;
	font-weight: normal;
	color: #222222;
}

.misc4{
	font-size: 12px;
	font-weight: normal;
	color: #666666;
	font-style: italic;
}

.misc5{
	font-size: 16px;
	font-weight: normal;
	color: #333333;
}

.normalInput{
	border-radius: 5px;
	background-color: #fff;
	padding-left: 8px;
	padding-right: 8px;
	border: 1px solid #cccccc;
	box-shadow: none;
	height: 25px;
	width: 250px;
	vertical-align: top;
	color: #999999;
	font-size: 14px;
}

.normalInput:focus{
	outline: none;
	border-color: #ffcc33;
	box-shadow: none;
}

.smallInput {
	border-radius: 5px;
	background-color: #fff;
	border: 1px solid #e5e9ea;
	box-shadow: none;
	height: 25px;
	width: 30px;
	line-height: 25px;
	vertical-align: top;
}

.normalTextarea {
	border-radius: 5px;
	background-color: #FFFFFF;
	padding-left: 8px;
	padding-right: 8px;
	line-height: 18px;
	border: 1px solid #cccccc;
	box-shadow: none;
	height: 65px;
	width: 250px;
	font-family: Source Sans Pro;
	vertical-align: top;
	resize: none;
	color: #999999;
	font-size: 14px;
}

.normalTextarea:focus{
	outline: none;
	border-color: #ffcc33;
	box-shadow: none;
}

.container_LargeComboBox{
	width: 250px;
	height: 25px;
	border: 1px solid #d3d3d3;
	border-radius: 5px;
	
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VkZWVlZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2U3ZTllOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMWUyZTIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(237,238,239,1) 0%, rgba(231,233,233,1) 50%, rgba(225,226,226,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(237,238,239,1)), color-stop(50%,rgba(231,233,233,1)), color-stop(100%,rgba(225,226,226,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(237,238,239,1) 0%,rgba(231,233,233,1) 50%,rgba(225,226,226,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(237,238,239,1) 0%,rgba(231,233,233,1) 50%,rgba(225,226,226,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(237,238,239,1) 0%,rgba(231,233,233,1) 50%,rgba(225,226,226,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(237,238,239,1) 0%,rgba(231,233,233,1) 50%,rgba(225,226,226,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edeeef', endColorstr='#e1e2e2',GradientType=0 ); /* IE6-8 */

	margin-bottom: 10px;
	display: inline-block;
	text-align: left;
	position: relative;
}

.container_heroComboBox{
	width: 500px;
	height: 50px;
	border: 1px solid #d3d3d3;
	border-radius: 5px;
	
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VkZWVlZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2U3ZTllOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMWUyZTIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(237,238,239,1) 0%, rgba(231,233,233,1) 50%, rgba(225,226,226,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(237,238,239,1)), color-stop(50%,rgba(231,233,233,1)), color-stop(100%,rgba(225,226,226,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(237,238,239,1) 0%,rgba(231,233,233,1) 50%,rgba(225,226,226,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(237,238,239,1) 0%,rgba(231,233,233,1) 50%,rgba(225,226,226,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(237,238,239,1) 0%,rgba(231,233,233,1) 50%,rgba(225,226,226,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(237,238,239,1) 0%,rgba(231,233,233,1) 50%,rgba(225,226,226,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edeeef', endColorstr='#e1e2e2',GradientType=0 ); /* IE6-8 */

	display: inline-block;
	text-align: left;
	position: relative;
}

.container_heroComboBox .sbSelector{
	padding-top: 12px;
}

.container_MediumComboBox{
	width: 100px;
	height: 25px;
	border: 1px solid #d3d3d3;
	border-radius: 5px;
	
	background: rgb(237,238,239); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VkZWVlZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2U3ZTllOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMWUyZTIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(237,238,239,1) 0%, rgba(231,233,233,1) 50%, rgba(225,226,226,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(237,238,239,1)), color-stop(50%,rgba(231,233,233,1)), color-stop(100%,rgba(225,226,226,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(237,238,239,1) 0%,rgba(231,233,233,1) 50%,rgba(225,226,226,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(237,238,239,1) 0%,rgba(231,233,233,1) 50%,rgba(225,226,226,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(237,238,239,1) 0%,rgba(231,233,233,1) 50%,rgba(225,226,226,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(237,238,239,1) 0%,rgba(231,233,233,1) 50%,rgba(225,226,226,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edeeef', endColorstr='#e1e2e2',GradientType=0 ); /* IE6-8 */

	display: inline-block;
	text-align: left;
	position: relative;
}

.container_SmallComboBox {
	width: 60px;
	height: 25px;
	border: 1px solid #d3d3d3;
	border-radius: 5px;
	
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VkZWVlZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2U3ZTllOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMWUyZTIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(237,238,239,1) 0%, rgba(231,233,233,1) 50%, rgba(225,226,226,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(237,238,239,1)), color-stop(50%,rgba(231,233,233,1)), color-stop(100%,rgba(225,226,226,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(237,238,239,1) 0%,rgba(231,233,233,1) 50%,rgba(225,226,226,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(237,238,239,1) 0%,rgba(231,233,233,1) 50%,rgba(225,226,226,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(237,238,239,1) 0%,rgba(231,233,233,1) 50%,rgba(225,226,226,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(237,238,239,1) 0%,rgba(231,233,233,1) 50%,rgba(225,226,226,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edeeef', endColorstr='#e1e2e2',GradientType=0 ); /* IE6-8 */

	display: inline-block;
	text-align: left;
	position: relative;
}

.normalComboBox{
	background: transparent;
	width: 100%;
	font-family: Source Sans Pro;
	border: 0;
	border-radius: 0;
	padding-left: 8px;
	padding-right: 8px;
	-webkit-appearance: none;
	-moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';

}

.customSelect{
	display: block !important;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.formElement{
	margin-bottom: 5px;
	position: relative;
}

.bigFormElement{
	margin-bottom: 10px;
}

.formLabel, .formBlockLabel, .formLabel_large {
	font-size: 15px;
	color: #666666;
	font-weight: bold;
	text-align: left;
	width: 30%;
	padding-right: 12px;
	word-break: normal;
	min-width: 75px;
}

.formValue, .formValue2, .formValue_large, .formValue_link{
	font-size: 15px;
	color: #666666;
	font-weight: $normal;
	vertical-align: top;
}

.formLabel_large{
	font-size: 20px;
	font-weight: $semibold;
}

.formValue_large{
	font-size: 20px;
	color: #0081c6;
}

.formValue_link{
	text-decoration: underline;
	color: #0081c6;
	cursor: pointer;
}

.formValue2Container{
	display: inline-block;
	width: 52%;
	vertical-align: top;
}

.formValue2{
	display: block;
}

.inlineFormLabel{
	font-size: 15px;
	color: $light_black_color;
	font-weight: $semibold;
	text-align: left;
	margin-right: 10px;
}

.bigFormLabel{
	font-size: 16px;
	color: $light_black_color;
	font-weight: $semibold;
	text-align: left;
	width: 210px;
}

.labelHolder{
	text-align: right;
}

ul.address{
	list-style: none;
	margin: 0px;
	padding: 0px;
	display: inline-table;
}

ul.address>li{
	font-size: 15px;
	color: #666666;
	font-weight: $normal;
}

ul.address>li.firstLine{
	font-weight: bold;
}

span.hintText{
	font-size: 15px;
	color: #666666;
	font-weight: 300;
	padding-left: 10px;
}


input.primaryCustomRadio:not(old){
	margin  : 0;
	padding : 0;
	opacity : 0;
}

input.primaryCustomRadio:not(old) + label{
	display: inline-block;
	margin-left: -32px;
	padding-left: 21px;
	background: url("../img/radioBox_unchecked.png") left center no-repeat;
	line-height: 24px;
	font-size: 15px;
	font-weight: 600;
	padding-top: 1px;
	margin-bottom: 15px;
}

input.primaryCustomRadio:not(old):checked + label{
	background: url("../img/radioBox_checked.png") left center no-repeat;
}

input.customYellow:not(old){
	margin  : 0;
	padding : 0;
	opacity : 0;
	width: 0px;
	height: 0px;
}

input.customYellow:not(old) + label{
	display: inline-block;
	padding-left: 21px;
	background: url('../img/checkBox_unchecked.png') left center no-repeat; 
	line-height: 14px;
	font-size: 15px;
	font-weight: 600;
	padding-top: 1px;
	margin-bottom: 15px;
}

input.customYellow:not(old):checked + label{
	background: url("../img/checkBox_checked.png") left center no-repeat;
}

input.customYellow:not(old) + label.defaultSelected{
	background: url("../img/checkBox_defaultSelected.png") left center no-repeat;
}

input.switch{
	margin: 0;
	padding: 0;
	opacity: 0;
	width: 0px;
	height: 0px;
}

input.switch + label{
	position: relative;
	padding-left: 60px;
	cursor: pointer;
}

input.switch + label > span{
	position: absolute;
	left: 0px;
	background-color: #666666;
	border-radius: 5px;
	color: #fff;
	font-size: 14px;
}

input.switch + label > span.onState{
	background-color: #0081c6;
}

input.switch + label .switchToggle{
	height: 26px;
	width: 26px;
	background-color: #e9ebeb;
	display: inline-block;
	position: absolute;
	top: -3px;
	left: 0px;
	border-radius: 5px;
}

input.switch + label > span span{
	padding: 5px;
}


.datePicker{
	border-radius: 5px;
	background-color: $white_color;
	padding-left: 8px;
	padding-right: 8px;
	font-size: 14px;
	line-height: 18px;
	border: 1px solid $porcelain_color;
	box-shadow: none;
	height: 25px;
	width: 140px;
	font-family: Source Sans Pro;
	padding-left: 30px;
	background-image: url("../img/calendar_icon.png");
	background-position: 5px center;
	background-repeat: no-repeat;
}

.datePicker:focus{
	outline: none;
	border-color: $light_yellow_color;
}


.linkButton, .linkButton_blue{
	text-decoration: underline;
	color: #333333;
	font-size: 15px;
	font-weight: 400;
	padding-bottom: 2px;
	padding-top: 2px;
	display: block;
	cursor: pointer;
}

.linkButton_blue{
	color: #0081c6;
}

.primaryButton, .secondaryButton{
	font-family: 'Bebas Neue';
	font-size: 18px;
	background-color: #333333;
	color: #fff;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	margin-top: 5px;
	margin-bottom: 9px;
	display: block;
	border-radius: 5px;
	border: 1px solid #cfcdcd;
	outline: none;
}

.primaryButton:focus, .primaryButton:hover{
	text-decoration: none;
	color: #fff;
}

.secondaryButton{
	background-color: #ffcc33;
	color: #333;

}

.secondaryButton:focus, .secondaryButton:hover{
	text-decoration: none;
	color: #333;
}

.restrictedButton{
	background-color: #f8f9f9;
	color: #ba3e62;
	outline: none;
	border-radius: 3px;
	border: 1px solid #ba3e62;
	font-size: 14px;
	padding-top: 3px;
	padding-bottom: 3px;

}

.restrictedButton span {
	padding-right: 8px;
	padding-left: 4px;
 }

 .restrictedButton img{
 	width: 16px;
 	padding-bottom: 2px;
 }   

.actionBtn{
	font-family: Bebas Neue;
	font-size: 22px;
	color: #333333;
	line-height: 18px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 7px;
	padding-top: 12px;
	background-color: #ffcc33;
}

.inline-block{
	display: inline-block;
}

.modal-title{
	font-size: 30px;
	color: #333333;
}

.modal-footer > *{
	margin-left: 20px;
}

.modal-footer{
	padding: 10px 20px;
}

@media (max-width: 480px){
	.formBlockLabel{
		width: 100%;
	}
}	

/* END of form element styles */ 