/* global variables*/

$light_black_color : #333333;

$semibold: 600;
$normal: normal;

/*END of global variables*/


body{
	font-size: 16px;
	background-color: #edeff0;
	font-family: sans-serif;
}

h3{
	color: $light_black_color;
	font-weight: $normal;
}

h2{
	color: $light_black_color;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 28px;
	font-weight: 300;
}

p{
	color: #666666;
	font-size: 15px;
	font-weight: $normal;
	line-height: 1;
}