<!-- footer -->
<div class='footerContainer'>
	<div class='container footerBlack'>
		<a href="#" class='tnc'>Terms & Conditions</a>
		
		<div class="socialContainer">
			<a href="#" class='facebookIcon'>Facebook</a>
			<a href="#" class='twitterIcon'>Twitter</a>
			<a href="#" class='instaIcon'>Instagram</a>
			<a href="#" class='youtubeIcon'>Youtube</a>
		</div>	
	</div>
</div>	
<!--  end footer -->
