<div class='searchPanel'>
  <div class="container">
    
    <div class='col-md-3 visible-md visible-lg noPad usernameBar'>
        <span>Hello, </span>
        <span>Swastik</span>
        <a href="accountPage.html" class="yourAccount">Your Account</a>
    </div>
    <div class='col-md-9 col-xs-12 noPad searchBox'>
      
      <div class="container_SearchComboBox">
          <select class='customSelect'>
            <option>All Categories</option>
            <option>Parts</option>
            <option>Rentals</option>
          </select>
      </div>

      <div class='searchInputContainer'>
        <input placeholder='What are you looking for?' class='searchInput'>
      </div>

    </div>  
  </div>
</div><!-- /.searchPanel -->