<a class="site-overlay"></a>
<div class='navBG'>
	<div class="container">
		<div style="position: absolute; left: 50%;">
			<div class="navPageTitle visible-xs visible-sm">
				{{page.title}}
			</div>
		</div>
		<ul class='globalActions'>
			<li>
				<a class='navbarLinks navBarAlertLink' href="#" style='position: relative;'>
				<img class='navBarAlert' src='assets/img/alertsIcon.png'/>
				<span class='alertCount'>32</span>
				</a>
			</li>
			<li>
				<a class='navbarLinks navBarCartLink' href="cart.html" style='position: relative;'>
				<img class='navBarCart' src='assets/img/cartIcon.png'/>
				<span class='cartCount'>32</span>
				</a>
			</li>
		</ul>
		<a class="nav-btn" id="nav-open-btn" href="#nav">Book Navigation</a>
		
		<a class="navbar-brand" href="#"><img src="assets/img/PWC_logo.png" class='pwcLogo'></a>
		
		<nav id="nav" role="navigation" class='navbar navbar-inverse'>
			
			
			<ul class="nav navbar-nav">
				<li class='isLink myAccount'><a style='border-bottom: 1px solid #585959;' class='navbarLinks visible-sm visible-xs' href="#Library">Hello, <span style='font-weight: 600;'>Swastik</span></a>
					<ul class='subNav'>
						<li><a class='subNavLinks'>Account Settings</a></li>
						<li><a class='subNavLinks'>Quotes</a></li>
						<li><a class='subNavLinks'>Orders</a></li>
						<li><a class='subNavLinks'>Invoices</a></li>
						<li><a class='subNavLinks'>Subscriptions</a></li>
						<li><a class='subNavLinks'>User Administration</a></li>
					</ul>
				</li>
				<li><a class='navbarLinks visible-sm visible-xs' href="#Dashboard">Dashboard</a>
					
				</li>
				<li class="active isLink"><a class='navbarLinks' href="store.html">Buy Online</a>
					<ul class='subNav'>
						<li class='isLink isSecLink'>
							<a href='#' class='subNavLinks'>Item 1</a>
							<ul class='subNav'>
								<li><a href='#' class='subNavLinks'>Sub Item 1</a></li>
								<li><a href='#' class='subNavLinks'>Sub Item 2</a></li>
							</ul>
						</li>
						<li class='isLink isSecLink'>
							<a href='#' class='subNavLinks'>Item 2</a>
							<ul class='subNav'>
								<li><a href='#' class='subNavLinks'>Sub Item 1</a></li>
								<li><a href='#' class='subNavLinks'>Sub Item 2</a></li>
							</ul>
						</li>
					</ul>
				</li>
				<li class='isLink'><a class='navbarLinks' href="publications.html">Library</a>
					<ul class='subNav'>
						<li class='isLink isSecLink'>
							<a href='#'class='subNavLinks'>My Library</a>
							<ul class='subNav'>
								<li><a href='#' class='subNavLinks'>Publications</a></li>
								<li><a href='#' class='subNavLinks'>Browse by Engine</a></li>
								<li><a href='#' class='subNavLinks'>Recently Viewed</a></li>
							</ul>
						</li>
						<li><a class='subNavLinks'>Bulletins</a></li>
						<li><a class='subNavLinks'>Tools</a></li>
						<li><a class='subNavLinks'>Admin</a></li>
					</ul>
				</li>
				<li><a class='navbarLinks' href="fleet.html">Fleet</a></li>
				<li><a class='navbarLinks' href="warranty.html">Warranty</a></li>
				<li><a class='navbarLinks' href="services.html">Services</a></li>
				<li><a class='navbarLinks' href="help.html">Help</a></li>
				
			</ul>
			
			
		</nav>
	</div>
</div>