<a class="site-overlay"></a>
<div class='navBG'>
	<div class="container" id='checkoutNav'>
		<div style="position: absolute; left: 50%;">
			<div class="navPageTitle visible-xs visible-sm">
				{{page.title}}
			</div>
		</div>

		<a class="nav-btn" id="checkout_back" href="#nav">Back Button</a>
		
		<a class="navbar-brand" href="#"><img src="assets/img/PWC_logo.png" class='pwcLogo'></a>

		<a class="checkoutHome hidden-md hidden-lg" id="checkout_home" href="#nav">Checkout Home Button</a>
	</div>
</div>